
{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="about">
    <h1>About Me</h1>
    <p>
        Hello! I'm Sagar Shrestha, an IT Specialist with a strong passion for solving complex problems, optimizing systems, and creating impactful solutions. With hands-on experience in IT support, network troubleshooting, and software development, I have honed my technical skills and the ability to deliver reliable results under pressure.
    </p>
    <p>
        I have worked at ITLINX Pvt Ltd and other leading organizations, contributing to projects that enhanced efficiency and reduced downtime. In addition to my technical expertise, I am a lifelong learner who loves exploring the latest technology trends and continuously improving my skills.
    </p>
    <p>
        When I'm not coding or troubleshooting, you can find me exploring nature, experimenting with new tech tools, or sharing insights through my blog.
    </p>
</section>
{% endblock %}
