
{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="skills">
    <h1>My Skills</h1>
    <ul>
        <li>
            <h3>Programming Languages</h3>
            <p>Python, Django, JavaScript, C++, Java</p>
        </li>
        <li>
            <h3>IT Support</h3>
            <p>System Troubleshooting, Network Optimization, Hardware & Software Maintenance</p>
        </li>
        <li>
            <h3>Web Development</h3>
            <p>HTML, CSS, Bootstrap, Responsive Design</p>
        </li>
        <li>
            <h3>Soft Skills</h3>
            <p>Problem-Solving, Team Collaboration, Project Management</p>
        </li>
    </ul>
</section>
{% endblock %}
